$flex: flex;
// $absWidth: 100%;
// $gap: 10px;

@mixin reset($value) {
  margin: $value;
  padding: $value;
}

@mixin position($value) {
  @if $value == absolute {
    position: absolute;
  } @else {
    position: relative;
  }
}

body {
  @include reset(0);
  box-sizing: border-box;
  ul,
  li {
    @include reset(0);
    list-style-type: none;
  }
  .masonry {
    @include position(relative);
    overflow: hidden;
    display: $flex;
    flex-wrap: wrap;
    // width: $absWidth;
    // height: 100%;
    background-color: red;

    // gap: $gap;
    .masonry__item {
      // @include position(absolute);
      overflow: hidden;
      display: block;

      // @extend .absPosition;
      .masonry__image {
        // @extend .position;
        // top: 100;
        vertical-align: top;
        // display: inline-block;
      }
    }
  }
}
