$flex: flex;
$absWidth: 100%;
// $width: 90%;
// $gap: 10px;

@mixin reset($value) {
  margin: $value;
  padding: $value;
}

@mixin position($value) {
  @if $value == absolute {
    position: absolute;
  } @else {
    position: relative;
  }
}

body {
  @include reset(0);
  ul,
  li {
    @include reset(0);
    list-style-type: none;
  }
  .masonry {
    @include position(relative);
    display: $flex;
    // width: $width;
    flex-wrap: wrap;
    // gap: $gap;
    .masonry__item {
      .masonry__image {       
        vertical-align: top;  
      }
      }
    }
  }
