body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  body ul,
  body li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  body .masonry {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: red; }
    body .masonry .masonry__item .masonry__image {
      vertical-align: top; }
