body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  body ul,
  body li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  body .masonry {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background-color: red; }
    body .masonry .masonry__item {
      overflow: hidden;
      display: block; }
      body .masonry .masonry__item .masonry__image {
        vertical-align: top; }
